<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  th:method="POST" th:action="${action}" th:object="${user}">

    <label for="loginName">Login</label>
    <input name="loginName" type="text" th:field="${user.loginName}" id="age"/>
    <br><br>
    <label for="name">Name</label>
    <input name="name" type="text" th:field="${user.name}" id="name"/>
    <br><br>

    <input th:if="${#request.isUserInRole('ADMIN')}" type="submit" value="OK"/>
    <input type="button" value="Logout"
           th:onclick= "|window.location.href='@{/logout}'|"/>
</form>
</body>
</html>