<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone number</th>
            <th>Login name</th>
        </tr>
        <tr th:each="msg : ${messages}">

            <td align="center" th:text="${msg.firstName}"></td>
            <td align="center" th:text="${msg.lastName}"></td>
            <td align="center" th:text="${msg.phoneNumber}"></td>
            <td align="center" th:text="${msg.loginName}"></td>

            <td align="center"> <input type="button" value="Edit"
                                       th:onclick= "|window.location.href='@{/admin/editUser?loginName={loginName}(loginName=${msg.loginName})}'|"></td>

            <td align="center"> <input type="button" value="Delete"
                                       th:onclick= "|window.location.href='@{/admin/removeUser?loginName={loginName}(loginName=${msg.loginName})}'|"></td>
        </tr>
    </table>

    <br>
        <input type="button" value="Add"
        onclick="window.location.href = '/admin/addUser'"/>
        <input type="button" value="Logout"
               th:onclick= "|window.location.href='@{/logout}'|"/>
    </br>
</div>
</body>
</html>