<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  th:method="POST" th:action="${action}" th:object="${user}">

    <label for="firstName">First name</label>
    <input name="firstName" type="text" th:field="${user.firstName}" id="firstName"/>
    <br>
    <br>
    <label for="lastName">Last name</label>
    <input name="lastName" type="text" th:field="${user.lastName}" id="lastName"/>
    <br>
    <br>
    <label for="phoneNumber">Phone number</label>
    <input name="phoneNumber" type="text" th:field="${user.phoneNumber}" id="phoneNumber"/>
    <br>
    <br>
    <label for="loginName">Login name</label>
    <input name="loginName" type="text" th:field="${user.loginName}" id="loginName"/>
    <br>
    <br>

    <label>Roles:</label>
    <ol>
        <li th:each="role : ${user.roles}">
            <label th:text="${role.role}"/>
        </li>
    </ol>

    <input type="submit" value="OK"/>
    <input type="button" value="Logout" th:onclick= "|window.location.href='@{/logout}'|"/>
</form>


</body>
</html>